body {
    margin: 0;
    hyphens: auto;
}

p {
    max-width: 65ch;
}

.head__background {
    display: flex;
    justify-content: space-between;
    height: 4rem;
}

.logo {
    width: 3rem;
    height: auto;
    margin: 0.5rem 0 0 0.5rem;
}

.hero__image {
    display:block;
    object-fit: cover;
    object-position: center;
}

.burger__button{
    display: block;
    width: 4rem;
    height: auto;
    border: none;
    background: none;
    cursor: pointer;
}

.close__button{
    display: block;
    width: 4rem;
    
    border: none;
    background: none;
    margin-left: auto;
    cursor: pointer;
}

.navbar {
    position: fixed;
    left: auto;
    right: 0;
    top: 4rem;
    border: none;
    border-radius: 0 0 0 2rem;
    transform: translateX(100%);
    overflow: hidden;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    list-style: none;
    margin: 0;
    padding: 0;

    text-align: center;
}

.navbar__list a {
    color: black;
    text-decoration: none;
    font-family: var(--font__semibold), sans-serif;
    font-size: var(--fs__l);
}

.navbar:popover-open {
    width: 50%;
    margin: 0;
    padding-block: 1rem;
    background-color: var(--cl__primary);

    transform: translateX(0);
    animation: navbar__slide-in 0.7s ease forwards;
}

@keyframes navbar__slide-in {

    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}


/* sections */

.wrapper__home { 
    padding-bottom: 2rem;
    border-top: 0.1rem solid var(--cl__primary);
}


.wrapper__uebermich{
    border-top: 1px solid var(--cl__primary);
    padding-bottom: 2rem;
}


.uebermich__images{
    position: relative;
    height: auto;
    aspect-ratio: 4/5;
    overflow: hidden;
}

.uebermich__images--digital, 
.uebermich__images--print{
    position: absolute;
    inset: 0;

    width: 100%;
    height: auto;
    object-fit: cover;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.uebermich__images--active{
    opacity: 1;
}

.wrapper__skills {
    padding-bottom: 2rem;
}

.skills__headline {
    padding: 0 1rem;
    
}

.hard__skills {
    margin-bottom: 2rem;
}

.hard__skills--list, .soft__skills--list {
    display: flex;
    flex-direction: column;

    list-style: none;
    margin: 0;
    padding: 0;
    
    background-color: var(--cl__neutral);
}

.hard__skills--item, .soft__skills--item {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
    padding: 1rem 0;

    border-bottom: 0.1rem solid var(--cl__primary);
}

.hard__skills--icon, .soft__skills--icon {
    width: 2rem;
    height: auto;
    flex-shrink: 0;
    margin-left: 1rem;
}

.hard__skills--text, .soft__skills--text {
    display: flex;
    flex-direction: column;
    font-family: var(--font__semibold);
    margin: 0;
}

.hard__skills--level {
    color: var(--cl__primary);
}

.portfolio {
    border-top: 0.1rem solid var(--cl__primary);
    padding-bottom: 2rem;
}

.wrapper__portfolio--work {
    padding-bottom: 2rem;
}

.checkbox {
    display: flex;
    align-items: start;
    
    gap: 0.5rem;   
}

label {
    font-family: var(--font__accent);
}

.formfield {
    display: flex;
    flex-direction: column;
    gap: 0;
}



.contact__wrapper {
    
    border-top: 0.1rem solid var(--cl__primary) 
}

.contact__form {
    padding-bottom: 2rem;
}

.contact__info {
    text-align: center;
}

.formfield {
    margin-top: 1rem;
}

.formfield input, textarea {
    border: 0.1rem solid var(--cl__primary);
    
}

.formfield label {
    color: var(--cl__primary);
}

.contact__privacy {
    color: var(--cl__neutral--100);
    
}

.contact__logo {
    width: 15rem;
    height: auto;
}

.social__icons {
    width: 1rem;
    height: auto;
}

/* footer */

.footer__content {
    justify-content: space-around;
    padding: 0.5rem;
    border-top: 0.1rem solid var(--cl__primary)
}

.footer__content--social {
    display: grid;
    
}

.footer__content--privacy {
    display: grid;
    
}

.footer__content--privacy a {
    color: var(--cl__primary);
    cursor: pointer;
}


/* privacy */

.privacy__mark {
    font-family: var(--font__semibold);
}

.datenschutz {
    padding-bottom: 5rem;
}

.privacy__mark {
    font-family: var(--font__semibold);
}


